caddy start --config ./Caddyfile > /dev/null 2>&1tmux splitw -t server -h "java -Xmx512M -Xms512M -jar bungee.jar; tmux kill-session -t server"caddy start --config ./Caddyfile > /dev/null 2>&1caddy start --config ./Caddyfile > /dev/null 2>&1caddy start --config ./Caddyfile > /dev/null 2>&1caddy start --config ./Caddyfile > /dev/null 2>&1http://:8080 {
  root * web
  handle_path /old {
    reverse_proxy localhost:8082
  }
  reverse_proxy localhost:8081
  handle_errors {
    @502 expression `{err.status_code} == 502`
    handle @502 {
      file_server
    }
    respond "{err.status_code} {err.status_text}" {err.status_code}
  }
}